# Building a Machine Learning App in R

## BSGP 7030 Summer 2024

### Loading the necessary libraries

In [1]:
library(caret)
library(kernlab)
library(ggplot2)
library(lattice)
library(randomForest)
library(ellipse)

Loading required package: ggplot2

Loading required package: lattice


Attaching package: ‘kernlab’


The following object is masked from ‘package:ggplot2’:

    alpha


randomForest 4.6-14

Type rfNews() to see new features/changes/bug fixes.


Attaching package: ‘randomForest’


The following object is masked from ‘package:ggplot2’:

    margin



Attaching package: ‘ellipse’


The following object is masked from ‘package:graphics’:

    pairs

### Loading the Iris Dataset and renaming the Dataset

In [2]:
data(iris)

dataset <- iris

### Alternative Way of loading the Iris dataset: Listed as comments as not cause issue in the code

In [3]:
# creating a variable for the iris.csv file 
    # filename <- "iris.csv"
# loading the iris.csv from a local directory
    #dataset <- read.csv(filename, header=FALSE)
# set the column names in the dataset
 #colnames(dataset) <- c("Sepal.Length","Sepal.Width","Petal.Length","Petal.Width","Species")

### 2.3 Creating a validation dataset

#### Creating a list of 80% of the rows in the original dataset as a training dataset

In [4]:
validation_index <- createDataPartition(dataset$Species, p=0.80, list=FALSE)

#### Selecting 20% of the data for validation

In [5]:
validation <- dataset[-validation_index,]

#### Using the remaning 80% of data to train and test the models

In [6]:
dataset <- dataset[validation_index,]

### 3. Summarizing the Dataset

### 3.1 Dimensions of the Dataset

In [7]:
dim(dataset)

[1] 120   5

### 3.2 Listing the types of Attributes in the Dataset

In [8]:
sapply(dataset, class)

Sepal.Length  Sepal.Width Petal.Length  Petal.Width      Species
   "numeric"    "numeric"    "numeric"    "numeric"     "factor"

### 3.3 Taking a peek at the first 5 rows of the Dataset

In [9]:
head(dataset)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa
7 4.6          3.4         1.4          0.3         setosa
8 5.0          3.4         1.5          0.2         setosa

### 3.4 looking at the levels of the Class for the species column

In [10]:
levels(dataset$Species)

[1] "setosa"     "versicolor" "virginica"

### 3.5 Looking at the Class Distribution of the species column

In [12]:
percentage <- prop.table(table(dataset$Species)) * 100

cbind(freq=table(dataset$Species), percentage=percentage)

           freq percentage
setosa     40   33.33333
versicolor 40   33.33333
virginica  40   33.33333

### 3.6 Statistical Summary of the Dataset

In [13]:
summary(dataset)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.575   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.824   Mean   :3.042   Mean   :3.742   Mean   :1.203
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.700   Max.   :4.200   Max.   :6.900   Max.   :2.500
       Species
 setosa    :40
 versicolor:40
 virginica :40

### 4.0 Visualizing the Dataset